*{
margin: 0;
padding:0;
}
.main{
    background-image: url(/image/auto\ fix\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: auto;
}
.navbar{
 position: fixed;
 top: 0;
 right:0;
 font-size: 22px;
 padding-top: 20px;
 margin-right: 0;
 float: right;
}
.navbar a{
    color:  white;
    padding: 18px;
    text-decoration: none;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 4px;
}
.navbar a:hover{
    color: gold;
}
.Jtc{
    color: gold;
}
.containerfont{
    padding: 150px;
    font-size: xx-large;
    color: white;
    margin-top: 0;
    }
    .font1{
        color: gold;
        background-color: rgba(0, 0, 0, 0.877);
        border-radius: 4px;
    }
    .font2{
        color: black;
        background-color: gold;
    }
    .containerfont2{
        height: 150px;
        background-color: rgba(255, 217, 0, 0.604); 
        margin-bottom: 200px;
        margin: 25px;
    }
    .containerfont2 h1{
        float: left;
        width: 55%;
        height: 20px;
        text-align: center;
        font-size: 80px;
        margin-bottom: 100px;
    }
    .containerfont2 p{
        float: right ;
        width: 45%;
        font-size: 20px;
        text-align: center;
        margin-bottom: 200px;
        font-family: sans-serif;
        
    }
    .main2{
        width: 100%;
        height:auto;
    }
    .image-container{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
    .image-wrapper{
        text-align: center;  
    }
    .image-wrapper img{
        width:400px;
        height: auto;
        padding: 40px;
    }
    .image-wrapper p{
        margin-top: 20px;
    }
    .image-wrapper button{
        margin: 10px;
        font-size: 25px;
        border-radius: 3px;
        font-weight: bold;
        border-width: 10px;
    }
    .image-wrapper h2{
        margin: 10px;
        font-size: 25px;
        text-decoration: underline;
        background-color: rgb(255, 217, 0);
        background-size: 20%;
    }
    .image-wrapper li{
        font-size: 13px;
        font-weight: bold;
        font-family:Verdana;
        max-width: fit-content;
    }
    .image-wrapper pre{
         font-size: 13px; 
         font-weight: bold;
         font-family:Verdana;
         max-width: fit-content;
    }
    .main3{
        width: 100%;
        height: auto;
        background-color: gold;
    }
    .main3 h1{
         color: white;
        text-align: center;
        font-size: 60px;
        font-weight: bolder;
        background-color: rgb(0, 0, 0);
    }
    .imagebox{
        display:flex;
        justify-content: space-between;
        align-items: center;
       }
    .text-box{
        text-align: center;
    }
    .text-box img{
        width:200px;
        height: auto;
        margin-top: 20px;
    }
    .text-box h2{
        font-size:30px;
    }
    .text-box pre{
        font-weight:30px;
        font-family: Arial, sans-serif;
    }
    .main4{
        background-color: black;
        width: 100%;
        height: auto;
        background-image: url(/image/autofixaboutUs.jpg);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: right;
    }
    .content-area{
        text-align: left;
        margin-right: 50%;
    }
    .content-area h3{
        font-size: 30px;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
    .content-area h1{
        font-size: 50px;
        color: gold;
        font-weight: bolder;
        padding: 5px 10px;
    }
    .content-area pre{
        font-size: 15px;
        color: white;
        font-weight: bold;
        font-family: Arial, sans-serif;
    }
    .content-area button{
        padding: 10px;
        margin-left: 10px;
        background-color: gold;
        border-radius: 5px;
        font-weight: bold;
        font-size: 15px;
        color: black;
    }
    .main5{
        width: 100%;
        height:auto;
        background-image: url(/image/autofixourservces.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        background-blend-mode:hard-light;
        opacity: 0.8; 
        background-attachment: fixed;
    }
    .submain5{
      padding-top: 50px;
    }
    .submain5 h3{
        padding-bottom: 30px;
        color: white;
    }
    .submain5 h1{
        padding: 30px;
        color: white;
        background-color: rgba(0, 0, 0, 0.498);
        /* text-transform: uppercase; */
    }
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .text h2{
        color:gold ;
        padding: 50px;
        font-size: 20px;
        font-family: Verdana, sans-serif;
        text-decoration: underline;
    }
    .text p{
        color: white;
        font-size: 20px;  
    }
   
    .text{
        margin-top:25px;
        padding: 20px;
    }
    .text button{
        margin-top: 20px;
        color: black;
        background-color: white;
        border-radius: 3px;
    }
    .main6{
        width: 100%;
        height: auto;
        background-color:gold;
        background-image: url(/image/autofixchooseUs.jfif);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 60%;
         
    }
    .submain6 h3{
        padding: 10px;
        font-size: 30px;
        font-weight: bolder;
        color: white;
    }
    .submain6 h1{
     font-weight: bolder;
    }
    .sub-main-container{
        display: flex;
        flex-direction: row;
        align-items: left;
    }
    .sub-main-text{
        margin-top:25px;
        padding: 5px;
        text-align: left;
    }
    .sub-main-text h1{
        font-size: 150px;
      
    }
    .sub-main-text p{
        font: 10px;
    }
    .main7{
        width: 100%;
        height: 500px;
        background-image:url(/image/autofixcall.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;
    }
    .sub-main-content h1{
        font-size: 100px;
        color: gold;
        text-align: justify;

        
    }
    .sub-main-content h2{
        font-size: 30px;
        color: white;
        text-align: justify;
    }
    .sub-main-content2{
        display: flex;
        flex-direction: row; 
        align-items: center;
     
    }
    .content2{
        margin-top: 100px;
        padding-inline: 20px;

    }
    .content2 button{
        width:100px;
        height:50px;
        background-color: rgba(0, 0, 0, 0.445);
        color:gold;
        font-size: 25px;
        border-radius: 2px;
        cursor: pointer;
    }
    .line{
        border: 1px solid gold;
        height: 70px;
        margin-top: 100px;
    }
    .content2 p{
        font-size: 25px;
        color: gold;
        background-color: black;
        opacity: 0.9;
    }
    .footer{
        width:100%;
        height:auto; 
        background-color: rgba(245, 245, 245, 0.783);  
    }
    .footer h2{
     padding: 100px;
     font-size: 30px;
    }
    .footer h3{
        padding:100px;
        font-size: 30px;
    }
    .footer h4{
        margin-top: 50px;
        text-align: center;
        font-size: 25px;
        color: black;
        font-family: 'Gill Sans',  'Trebuchet MS', sans-serif;
    }

    
     

  