*{
margin: 0;
padding:0;
}
.img{
    position:fixed;
    width:100%;
    z-index: -1;
}
.navbar{
 float: right;
 font-size: 22px;
 margin: 20px;
}
.navbar a{
    color:  white;
    padding: 18px;
    text-decoration: none;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 5px;
}
.navbar a:hover{
    color: gold;
}
.Jtc{
    color: gold;
}
.containerfont{
    padding: 100px;
    font-size: xx-large;
    color: white;
    margin-top: 150px;
    }
    .font1{
        color: gold;
        background-color: rgba(0, 0, 0, 0.877);
        border-radius: 4px;
    }
    .font2{
        color: black;
        background-color: gold;
    }
    .containerfont2{
        height: 150px;
        background-color: gold;
        margin-bottom: 300px;
        margin: 25px;
    }
    .containerfont2 h1{
        float: left;
        width: 55%;
        height: 20px;
        text-align: center;
        font-size: 80px;
        margin-bottom: 100px;
    }
    .containerfont2 p{
        float: right ;
        width: 45%;
        font-size: 20px;
        text-align: center;
        margin-bottom: 200px;
        font-family: sans-serif;
        
    }
    .containerfont3{
        clear: both;
        width: 90%;
        padding: 50px;
        height: 50px;
    }
    .containerfont3 h3{
        text-align: center;
        color: white;
        font-size: 25px;

    }
