.menu{
    display: flex;
    float: right;
    flex-direction: row;
}

#join{
padding: 10px;
background-color: blue;
}

.menu > div > a{
    text-decoration: none;
    padding: 10px, 10px,10px,10px;
}
/* body{
 background: "black man 2.jpeg" width="80%"    ;   
} */