.menu{
    display: flex;
    float:right ;
    flex-direction: row;

};

#join{
padding: 10px;
background-color: blue;
}
.menu > div > a{
    padding: 20px, 20px,20px,20px;
}
body{
 background-image: url (../image/blackman2 );  
}