.btn{
    padding: 30px;
    background-color: brown;
    color: antiquewhite;

    /* transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0ms; */

    transition: transform 1s;
}

.btn:hover{
   /* transform: translatex(-10px); */
   transform: translateZ(-10px);
   transform: translateZ(42px);
   background-color: blue;
  
}

.fa-solid{
    padding-left: 20px;
}